
    <br>
    <header class="">
      <div class="2xl:container 2xl:mx-auto">
        <div class="bg-white dark:bg-gray-800 rounded shadow-lg py-5 px-7">
          <nav class="flex justify-center">
            <a href="/">
              <div class="flex items-center space-x-3 lg:pr-16 pr-6">
                <img class="cursor-pointer dark:bg-white p-1 rounded-full" src="/imgs/homecare.png" alt="circle" />
                
              </div>
            </a>
  

  
  
            
          </nav>
          
        </div>
      </div>
       
    

    </header>

    <br>
    
    
  <script src="js/main.js"></script>


